body {
	font-family: verdana;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#header {
	
	_background: #cad3ed;
	
}

#message { position: fixed; top: 60px; right: 20px; width: 200px; }

#logo {
        margin: -5px 10px 0 0;
	float: left;
	width: 35px;
	height: 35px;
}

#headingtext {
	display: inline;
}

#title {
	display: inline;
	color: #4169e1;
	font-size: 19px;
	font-weight: bold;
}

.navbar {
    margin-bottom: 5px;
}


#search {
	_float:right;
	_width: 180px;
}

#body {
	color: #353535;
	_padding: 10px;
}

#login {
	background: #cad3ed;
	color: #353535;
	padding: 10px;
}

#login a {
	color: #353535;
	text-decoration: underline;
}

#login a:hover {
	text-decoration: none;
}

#info {
	background: #EEEEEE;
	color: #353535;
	padding: 10px;
}

#info a {
	color: #353535;
	text-decoration: underline;
}

#info a:hover {
	text-decoration: none;
}

#body a {
	color: #353535;
	text-decoration: underline;
}

#body a:hover {
	text-decoration: none;
}

#info {
	background: #EEEEEE;
	color: #353535;
	padding: 10px;
}

#info a {
	color: #353535;
	text-decoration: underline;
}

#info a:hover {
	text-decoration: none;
}

#next {
	background: #cad3ed;
	color: #353535;
	padding: 10px;
}

#next a {
	color: #353535;
	text-decoration: underline;
}

#next a:hover {
	text-decoration: none;
}

#pictures {
	background: #EEEEEE;
	color: #353535;
	padding: 10px;
	visibility: hidden;
}

#pictures a {
	color: #353535;
	text-decoration: underline;
}

#pictures a:hover {
	text-decoration: none;
}

#source {
	background: #EEEEEE;
	color: #353535;
	padding: 10px;
}

#links {
	background: #EEEEEE;
	color: #353535;
	padding: 10px;
	visibility: hidden;
}

#error {
	background: #EEC4C4;
	color: #353535;
	padding: 10px;
	visibility: hidden;
}

#leegError {
	visibility: hidden;
}

#footer {
	clear: both;
	font-size: 11px;
	color: #808081;
	border-top: 1px solid #d6d6d6;
	margin-top: 10px;
	padding: 5px;
}

#footer a {
	color: #353535;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: none;
}

#footer img {
	border: 0px
}

leeg {
	padding: 10px;
}

img.resizedimage {
	border:1px #f00 dashed;
	cursor:pointer;
}

img.exclude {
	border-width: 0px;
	cursor:pointer;
}

a.select {
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
}

a:visited.select {
	text-decoration: none;
}

a:active.select {
	text-decoration: none;
}

a:hover.select {
	text-decoration: none;
}

#status {
	visibility: hidden;
	position: absolute;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 20px;
}

/* LiveSearch */

ul {
	list-style-type: none;
}

#livesearch {
_margin: 0px 25px 15px 25px;
_padding:0px;
_width: 140px;
_display: block;
_border:1px solid #99b58d;
}


#LSResult {    
      position: absolute;
      background-color: #aaa; 
      min-width: 180px; 
      margin: 1px 0px 2px 0px;
      padding: 0px;
}

#LSResult li {
    padding-bottom: 2px;
    padding-top: 2px;
    line-height:15px;
    margin-bottom: 0px;
}
  
ul#LSShadow {
      position: relative;
      right: 1px;
      margin: 0px;
      padding: 0px;
      background-color: #666; /*shadow color*/
      color: inherit;
}
 
#LSResult ul {
     margin-bottom: -5px;
     margin-top: 0px;
     padding-top: 0px;  
     margin: 0px;
     padding: 0px;
}

#LSResult ul li {
    text-indent: -20px;
    padding: 0px 15px 3px 20px;
}
 
.LSRes {
      position: relative;
      bottom: 1px;
      right: 1px;
      background-color: white;
      border:  1px solid #AAA;
    }
  
#LSHighlight {
     
     color: #564b47;  
     background-color: #ccc;
}

#debug {
	width: 800px;
	height: 200px;
	border: 1px dashed #ff9e9e;
	margin: 0 auto;
	background-color: #fddede;
	display: none;
}

td {
	vertical-align: top;
}

#recordsTable tr td input[type=text] {
    background: #eee; border: 1px solid #ccc;
}
#recordsTable input.type {
    font-family: monospace;
}
#recordsTable input.num {
    font-family: monospace; text-align: right;
}
#recordsTable tr:hover td input[type=text] {
    background: #fff;
}
h3 {
    background: #ddd; font-size: 12pt; padding: 10px;
}
.pagination { margin-bottom: 0; }